# CLASS-3

### DATE-06-02-2019

## LIST

In [1]:
ls = [] #empty list
type(ls)

list

In [2]:
ls2 = [10,20,-4,12]
print(ls2)

[10, 20, -4, 12]

In [4]:
type(ls2)

list

In [5]:
ls3 = [3.5,4,"hi",[10,"hello"]]
ls3

[3.5, 4, 'hi', [10, 'hello']]

In [7]:
#taking out "hello" from the inner list
ls3[3][1]

'hello'

In [8]:
#taking out 1st  index
ls3[0]

3.5

In [9]:
ls3[3][1][0]

'h'

In [10]:
ls3[3][1][:4]

'hell'

In [12]:
list1 = list(range(11))
list1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [13]:
#find out the even number
list2 = list(range(0,11,2))
list2

[0, 2, 4, 6, 8, 10]

In [14]:
#find out the odd number
list2 = list(range(1,11,2))
list2

[1, 3, 5, 7, 9]

# Multiplication Table

In [21]:
m = int(input("Enter the number: "))
ls=[]
for i in range(1,11):
    ls = ls + [m*i]

Enter the number: 12

In [22]:
ls

[12, 24, 36, 48, 60, 72, 84, 96, 108, 120]

In [23]:
#repetition using
ls = [1,2,3]
ls1 = ls *3
print(ls1)

[1, 2, 3, 1, 2, 3, 1, 2, 3]

## List Slicing

In [24]:
t = ["a","b","c","d","e"]
print(t[2:4])
print(t[:3])
print(t[1:])
print(t[:-2])
print(t[::-1])

['c', 'd']
['a', 'b', 'c']
['b', 'c', 'd', 'e']
['a', 'b', 'c']
['e', 'd', 'c', 'b', 'a']

In [28]:
#List are immutable
t[3]=10
t

['a', 'b', 'c', 10, 'e']

# List Method

In [33]:
ls = [1,2,3]
ls.append(4)
print(ls)

[1, 2, 3, 4]

In [36]:
ls1 = [1,2,3]
ls2 = [5,6]
ls2.extend(ls1)
print(ls2)

[5, 6, 1, 2, 3]

In [38]:
#appending list inside list
ls1 = [1,2,3]
ls2 = [5,6]
ls2.append(ls1)
print(ls2)

[5, 6, [1, 2, 3]]

In [39]:
#sorting a list
ls = [4,12,-3,0,45,13]
ls.sort()
print(ls)

[-3, 0, 4, 12, 13, 45]

In [40]:
#sort decending
ls.sort(reverse=True)

In [41]:
ls

[45, 13, 12, 4, 0, -3]

In [46]:
#without modifying original list
ls = [1,2,4,-1,0]
ls1 = sorted(ls)
print("original: ",ls)
print("Sorted",ls1)
ls2 = sorted(ls,reverse=True)
print("Decending",ls2)

original:  [1, 2, 4, -1, 0]
Sorted [-1, 0, 1, 2, 4]
Decending [4, 2, 1, 0, -1]

In [49]:
#Reverse a list
ls = [4,2,10]
ls.reverse()
print(ls)

[10, 2, 4]

In [51]:
#deleting element from the list
ls4 = [1,2,3,5,"hi",8.9]
x = ls4.pop()
print(x)

8.9

In [59]:
ls4
#delete a perticular index
x1 = ls4.pop(3)
print(x1)

hi

In [58]:
ls4

[1, 2, 3, 'hi']

In [60]:
#remove perticular number
ls4.remove(2)

In [61]:
ls4

[1, 3]

In [62]:
#deleting more than one element
ls5 = [23,35,-4,65,43,"hi"]
del ls5[2] #remove 3rd element
print(ls5)

[23, 35, 65, 43, 'hi']

In [63]:

#deleting more than one element
ls5 = [23,35,-4,65,43,"hi"]
del ls5[1:4] #remove value from index 1 to 3 element
print(ls5)

[23, 43, 'hi']

In [64]:
#clearing the whole list
y = [1,2,3]
y.clear()
print(y)

[]

In [70]:
#count the occurrences of  an item
y1 = [1,2,3,4,5,6,7,7,7]
y1.count(7)

3

# COPY

In [72]:
ls = [1,2,3]
ls1 = ls
ls[2] = 5
print(ls)
print(ls1)

[1, 2, 5]
[1, 2, 5]

In [73]:
id(ls)

3007807990152

In [74]:
id(ls1)

3007807990152

In [76]:
x = [1,2,3]
x1 = x.copy()
print(x)
print(x1)
x1[2]=10
print(x)
print(x1)

[1, 2, 3]
[1, 2, 3]
[1, 2, 3]
[1, 2, 10]

In [77]:
id(x)

3007808084936

In [78]:
id(x1)

3007808637896

In [82]:
#inserting single element in required position
ls = [1,2,3,4,5]
ls.insert(3,35)
print(ls)

[1, 2, 3, 35, 4, 5]

# Utility function on list

In [84]:
ls = [1,2,3,4,5]
print(max(ls))
print(min(ls))
print(len(ls))
print(sum(ls))

5
1
5
15

In [85]:
#getting list of string from a sentence
s = "hello how are you"
ls = s.split()
ls

['hello', 'how', 'are', 'you']

In [86]:
d = "06/02/2019"
d.split("/")

['06', '02', '2019']

In [94]:
s = ["hello","how","are","you"]
st = "/".join(s)
st

'hello/how/are/you'

## read an expression check wheater it is well bracketed return true, if the expression is well bracketed otherwise return false

In [ ]:
#"a+b"
#"a+(b*c)-d"
#"(a+ " false
#")a+b("=false

In [8]:

def wellbracketed(var):
    count = 0
    for item in var:
        if item=="(":
            count = count + 1
        elif item == ")":
            count = count - 1
        if count < 0:
            return False
    if count == 0:
        return True
    else:
        return False
    
k = input("Enter the expression: ")
wellbracketed(k)

Enter the expression: )a-b)

False

In [1]:
k=[1,2,[3,5,[9,2,[1,2],3],4],3,[1,2,3]]

In [2]:
k[2][2][2][0]

1

# ===============================END===========================