### Date:12-02-2019

## TUPPLES

In [1]:
t = ()
type(t)

tuple

In [2]:
t = (23,"hello",3.4,12)
t

(23, 'hello', 3.4, 12)

In [3]:
t[0] #access tuple by index

23

In [6]:
t=(3,)   #create single element as a tupple
type(t)

tuple

In [9]:
t = 1,2,3
type(t)

tuple

In [11]:
#each element will be treated as a single index
t = tuple("hello")
t

('h', 'e', 'l', 'l', 'o')

In [12]:
#createing a tupple using a list
ls = [12,-3,"hi",[5,6],35]
t = tuple(ls)
t

(12, -3, 'hi', [5, 6], 35)

In [14]:
#crating a tupple from another tupple
t1 = 23,78,32
print(t1)
t2 = tuple(t1)
print(t2)       #both the casess same address will be given
print(id(t1))
print(id(t2))

(23, 78, 32)
(23, 78, 32)
2076161781832
2076161781832

In [2]:
t3 = (12,43,45,67,98)
t3[-3:]

(45, 67, 98)

In [16]:
t3[:-2]

(12, 43, 45)

In [17]:
t3[::-1]

(98, 67, 45, 43, 12)

In [6]:
t3 = (12,43,45,67,98)
t3[1:4:3]

(43,)

In [21]:
t = ("mango","banana","apple")
t = ("papaya",) + t[1:]
t

('papaya', 'banana', 'apple')

# VVI

In [25]:
# assiging list into tupple
list1 = ["hello","world"]
x, y = list1 
print(x)
print(y)

hello
world

In [26]:
#swaping
a=10
b=20
a, b =b, a
print(a)
print(b)

20
10

In [30]:
email = "arpanbhunia94@gmail.com"
username,domain = email.split("@")
print("User Name: ",username)
print("Domain Name: ",domain)

User Name:  arpanbhunia94
Domain Name:  gmail.com

## python and Dictionary

In [31]:
d = {"a":10,"b":1,"c":22}
t = list(d.items())
print(t)

[('a', 10), ('b', 1), ('c', 22)]

In [34]:
#sorting and printing
d1 = {"Tom":10,"Adam":1,"Donald":22}
list1 = list(d1.items())
list1.sort()
print(list1)

[('Adam', 1), ('Donald', 22), ('Tom', 10)]

In [11]:
d1 = {"Tom":10,"Adam":1,"Donald":22}
d1 = list(d1.items())
d1.sort()
d1

[('Adam', 1), ('Donald', 22), ('Tom', 10)]

# write a program to sort words of a given sen from longest to smallest

In [50]:
empty_dict = {}
sent = input("Enter the string: ")
list_words = sent.split()
for char in list_words:
    empty_dict[char] = len(char)
list1 = list(empty_dict.items())
list1.sort(reverse=True)
print(list1)

Enter the string: hi this arpan bhunia
[('this', 4), ('hi', 2), ('bhunia', 6), ('arpan', 5)]

In [42]:
len("hello")

5

In [ ]:
input1 = input("enter the string: ")
words = input1.split()
for word in words:
    t.append(len(word),word)
t.sort(reverse=True)
res = list()


for length,word in t:
    res.append(word)

In [57]:
help(list.sort)

Help on method_descriptor:

sort(self, /, *, key=None, reverse=False)
    Stable sort *IN PLACE*.

In [54]:
#write a program to sort words of a given sen from longest to smallest 
s = input("Enter the string: ")
word_list = s.split(" ")
word_list.sort(key=len, reverse=True)
print("Result: ",word_list)

Enter the string: hi this is arpan here
Result:  ['arpan', 'this', 'here', 'hi', 'is']

In [66]:
import string
fname = input("Enter the name of the file: ")
try:
    fhand = open(fname,"r")
except:
    print("File can not be opend")
    exit()
d = {}
for line in fhand:
    line = line.rstrip()
    line = line.translate(line.maketrans("","",string.punctuation))
    line = line.lower()
    for word in line.split():
        d[word] = d.get(word,0) + 1

k = list(d.items())
k.sort(key=len,reverse=True)
res = list()

for length,word in k:
    res.append(word)
print(res)
#print(d)

Enter the name of the file: download.txt
[2, 12, 13, 2, 6, 2, 2, 2, 7, 2, 3, 2, 4, 3, 2, 7, 6, 3, 2, 2, 2, 6, 3, 3, 3, 4, 4, 12, 3, 2, 9, 2, 2, 2, 6, 3, 2, 7, 2, 2, 2, 2, 13, 4, 2, 5, 2, 2, 2, 2, 2, 3, 3, 2, 1, 1, 1, 1, 2, 1, 1, 1, 2, 1, 1, 1, 2, 1, 6, 1, 1, 1, 1, 1, 1, 1, 2, 1, 3, 1, 1, 2, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

# --------------------------------------------------------------------------------------------------------------

---------

# SET

In [67]:
st = {"apple","banana","orange"}
print(type(st))

<class 'set'>

In [68]:
#set is unorder data type
print(st)

{'banana', 'apple', 'orange'}

In [69]:
#add element to set\
st.add("cherry")
print(st)

{'cherry', 'banana', 'apple', 'orange'}

In [70]:
#remove element from the set
st.remove("banana")
print(st)

{'cherry', 'apple', 'orange'}

In [71]:
#adding more than one element
st.update(["cherry","papaya","pineapple"])
print(st)

{'orange', 'cherry', 'papaya', 'pineapple', 'apple'}

In [72]:
set1 = {'orange', 'cherry', 'papaya', 'orange', 'apple'}#set will not allows duplication of the data
print(set1)

{'cherry', 'papaya', 'apple', 'orange'}

## write a prog to eliminate repeated entries in a list and keep single copy of each element

In [13]:
list2 = ["green","yellow","orange","yellow","red","green"]
removed_duplicate = list(set(list2))
print(removed_duplicate)

['green', 'yellow', 'red', 'orange']

# --------------------------------------------------------------------------------------------------------------

# LAMBDA

In [79]:
y = lambda x: x + 10
print(y(5))

15

In [80]:
x = lambda a,b:a*b
print(x(10,20))

200

In [85]:
x = list(range(11))
y = list(filter(lambda f: (f%2==0),x))
print(y)

[0, 2, 4, 6, 8, 10]

# lambda function inside normal function

In [86]:
def myfunc(n):
    return lambda a: a*n
mydoubler = myfunc(2)#myfunc return lambda function ex:lambda a: a*n
mytripler = myfunc(3)
print(mydoubler(11))#arguments a in lambda function takes 11 now
print(mytripler(11))

22
33

# write a programe for histogramme

In [110]:
list1 = [13,12,11,13,14,13,7,7,13,14,12]
empty_list= []
count = 1
for i in list1:
    empty_list.append((i,list1.count(i)))
    remo_duplicate = list(set(empty_list))
    remo_duplicate.sort(key = lambda x:(x[1],x[0]))#sort based on smallst frequency
print(remo_duplicate)

[(11, 1), (7, 2), (12, 2), (14, 2), (13, 4)]

# ------------------------------------------------------------------------------------------------------------------------------

## map(),reduce(),filter()

# filter()

In [115]:

import math
list1 = list(range(31))
result = list(filter((lambda x: x*x),list1))
print(result)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30]

In [116]:
import math
list1 = list(range(31))
result = list(filter((lambda x: math.sqrt(x)),list1))
print(result)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30]

In [119]:
s = input("Enter a string :")
ls = s.split()
ls1 = list(filter(lambda x:len(x)==3,ls))
print(" ".join(ls1))

Enter a string :hello how are you
how are you

In [123]:
s = input("Enter a string :")
ls = s.split()
ls1 = list(filter(lambda x: x.startswith("hello"),ls))
print(" ".join(ls1))

Enter a string :hello how hello
hello hello

# map()

In [124]:
ls = [5,7,22,97,54,62,77,23,73,61]
final_list = list(map(lambda x: x*5,ls))
print(final_list)

[25, 35, 110, 485, 270, 310, 385, 115, 365, 305]

In [128]:
list2 = input("enter string: ")
list3 = list2.split()
upper = list(map(lambda x: x.upper(),list3))
print(upper)

enter string: hello how are you
['HELLO', 'HOW', 'ARE', 'YOU']

# reduce()

In [130]:
from functools import reduce as rd

ls=[5,8,10,20,50,100]
sum1 = rd((lambda x,y :x+y),ls)
print(sum1)

193

# ---------------------

In [134]:
tupple1 = 1,2
tupple2 = (3,4)
[sum(x) for x in [tupple1 + tupple2]]

[10]

In [135]:
tripples = [(x,y,z) for x in range(1,4) for y in range(x,4) for z in range(y,4) if x+y <=z]
print(tripples)

[(1, 1, 2), (1, 1, 3), (1, 2, 3)]

# take string and filter out length of the word

-----------------

In [192]:
#coursecode and course name
course_details = [("MA101","Calculas"),("PH101","Mechanics"),("HU101","English")]
#rollnumber and name
student_details = [("UGM2018001","Karthik K"),("UGP2018132","Arpan Bhunia"),("DSC3452651","Neha Agarwal")]
#rollnumber,coursecode and grade
grades = [("UGM2018001","MA101","AB"),("UGP2018132","HU101","A"),("DSC3452651","PH101","B")]

#result (rollnumber, name[(coursecode_1,coursename_1,grade),(.............)])

for i in range(3):
    k = [student_details[i]]+[[(course_details[i])]] + [(grades[i][2])]
    print(k)

[('UGM2018001', 'Karthik K'), [('MA101', 'Calculas')], 'AB']
[('UGP2018132', 'Arpan Bhunia'), [('PH101', 'Mechanics')], 'A']
[('DSC3452651', 'Neha Agarwal'), [('HU101', 'English')], 'B']