----

In [ ]:
print("Arpan")

In [ ]:
x=10
x

In [ ]:
type(x)

In [ ]:
y=3.4
print(y)
type(y)

In [ ]:
#address
id(y)

In [ ]:
j="hello"
print(type(j))

In [ ]:
a=13413245**4132431
a

In [ ]:
p=True
type(p)

In [ ]:
20>32

In [ ]:
20 or 30

In [ ]:
x=20
y=30

In [ ]:
20>30 and 30>20

In [ ]:
20>30 or 30>20

In [ ]:
3%5

In [ ]:
not False

In [ ]:
x,y,z = 12,13,14

In [ ]:
x

In [ ]:
y

In [ ]:
z

----

In [ ]:
z=43434
print(f"Value of z is : {z}")

In [ ]:
x="32"
y="43"

In [ ]:
x+y

# user input

In [ ]:
''' this is a multiline comment'''

# TAKING USER INPUT

In [ ]:
x=float(input("Enter a number: "))

In [ ]:
x

In [ ]:
type(x)

In [ ]:
y=int(input("Enter a number :"))

In [ ]:
type(y)

In [ ]:
y

In [ ]:
x+y

In [ ]:
[j for j in list(range(11)) if j%2==0]

--------

# conditional block

In [ ]:
x = 10
#checking wheather condition met or not
if x <40:
    print("student is failed")
else:
    print("others")

In [ ]:
y = 20
#condition
if y>10:
    print("pass")
    print("hhhhhhhhhhhhhhh")

In [ ]:
x = int(input("Enter Mark :"))
#checking wheather condition met or not
if x >=40:
    print("good")
elif x>=60:
    print("very good")
elif x>=70:
    print("excellent")
else:
    print("fail")

In [7]:
x = input("Enter your name :")
print(f"hello {x}")

Enter your name :arpan
hello arpan

In [10]:
x=int(input("enter hours :"))
y = float(input("enter rate :"))
ans=x*y
print(f"pay {ans}")

enter hours :35
enter rate :2.75
pay 96.25

In [12]:
width=17
height = 12.0
print(width//2)

8

In [13]:
print(width//2.0)
print(type(width//2.0))

8.0
<class 'float'>

In [14]:
print(height//3)
print(type(height//3))

4.0
<class 'float'>

In [15]:
4.1 +2*5

14.1

In [16]:
type(4.1 +2*5)

float

In [17]:
temp = int(input("enter temparature in celcius:"))

far = (temp*9/5)+32
print(f"The converted temparature is:{far}")

enter temparature in celcius:23
The converted temparature is:73.4

In [20]:
max(45,43,78)

78

In [21]:
min(45,43,78)

43

In [23]:
max("hello World")

'r'

In [24]:
int(5.6)

5

In [25]:
str(4.5)

'4.5'

In [26]:
float("3.5")

3.5

In [30]:
import math
a = math.sqrt(2)

In [31]:
a

1.4142135623730951

In [33]:
x=float(input("enter the radius:"))
area = math.pi*x**2
print(f"area of the circle {area}")

enter the radius:3.5
area of the circle 38.48451000647496

In [37]:
print("hello", end=" ")#changing default ending format for print
print("world")

hello world

In [49]:
a=5/3
b=4/3
print("value of a is: {0:0.2f} and value of b is: {1:0.4f}".format(a,b))

value of a is: 1.67 and value of b is: 1.3333

# =========================END==============================